{{/* bg-cover bg-center bg-hero-shadow-city */}}
<div class="min-h-[228px] mt-[60px] mb-[20px]">
  <div
    class="flex flex-col items-center justify-center w-11/12 mx-auto space-y-2 border-b-[1px] border-gray-200 pb-4"
  >
    <div class="w-[108px] pt-8">
      <img src="/images/me.png" alt="photo profile" />
    </div>
    <div class="space-y-2 text-center">
      <header class="text-center">
        <p class="text-sm capitalize">
          hai, saya
          <span class="text-lg font-bold text-indigo-600">Sholehudin.</span>
        </p>
        <p class="text-xs font-light text-gray-500 capitalize">web developer</p>
      </header>
      <p class="text-xs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore iure
        deserunt deleniti, laudantium possimus sapiente.
      </p>
    </div>
  </div>
</div>
